.layout-menu {
    height: 100vh;
}

.logo-container {
    padding-bottom: 10px;
    margin: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.logo-area {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.logo {
    height: 32px;
}

.layout-content-page {
    margin: 0px 16px;
}

.breadcrumb-page {
    margin: 16px 0px;
}

.container-content {
    padding: 24px;
    max-height: 88vh;
    background-color: #fff;
    overflow-y: auto;
}